[Unit]
Description=UBNT bootup init script

[Service]
User=root
Type=oneshot
ExecStart=/usr/lib/init/boot/ubnt-init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
