[Unit]
Description=Unifi ULCMD contoller
Requires=ubnt-init.service
Requires=mock-ubnt-api.service

[Service]
Type=simple
ExecStart=/usr/lib/init/boot/ubnt-ulcmd.sh
KillMode=process
Restart=on-failure
RestartSec=2s
TimeoutStopSec=2s

[Install]
WantedBy=multi-user.target
