[Unit]
Description=Fan Controller daemon for the UNVR/UNVRPRO
Requires=ubnt-init.service

[Service]
Type=simple
ExecStart=/usr/bin/unvr-fan-daemon
KillMode=process
Restart=on-failure
RestartSec=2s
TimeoutStopSec=2s

[Install]
WantedBy=multi-user.target
