[Match]
Name=enp0s2

[Network]
DHCP=ipv4
LinkLocalAddressing=ipv6
IPv6AcceptRA=yes
IPv6PrivacyExtensions=yes

[DHCP]
RouteMetric=100
UseMTU=true
UseDomains=true
